/* General Styles */
body {
    font-family: "Calibri Light", "Calibri", "Segoe UI", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fdf6e3;
}

.container {
    width: 55%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff3c9; /* Warmer beige for subtle contrast */
    border-radius: 7px;
}

/* Header Section */
header {
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    padding-bottom: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Profile Image */
.profile-image {
    width: 200px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    border: 5px solid #fff;
    margin: 15px auto;
    display: block;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

/* Main Content */
main {
    padding: 1.5rem;
    background: #fdf6e3;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/* Sections */
section {
    margin: 2rem auto;
    padding: 0 1.5rem;
    max-width: 100ch;
}

section:last-child {
    margin-bottom: 0;
}

/* Headings */
h2 {
    color: #2c3e50;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
}

h2:after {
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background: #3498db;
    position: absolute;
    bottom: -10px;
    left: 15%;
}

h3 {
    color: #2c3e50;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    position: relative;
    text-align: center;
}

h3:after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background: #3498db;
    position: absolute;
    bottom: -5px;
    left: 25%;
}

/* Paragraphs */
.container p {
    max-width: 115ch;
    margin: 0.7rem auto;
    padding: 0 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 1.5rem;
    color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 0;
    }

    header h1 {
        font-size: 2rem;
    }

    .profile-image {
        width: 150px;
        height: 200px;
        border-radius: 20%;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .container p {
        font-size: 1rem;
        margin: 0 auto;
        padding: 0;
    }
}
